article {
	position: absolute;
	top: 0;
	left: 0;
	width: 375px;
	height: 780px;
	overflow: hidden;
	margin: auto;
	right: 0;
}
.background-child {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $background-color_1;
}
.group-child {
	position: absolute;
	top: -73.11px;
	left: 0;
	background-color: $background-color_2;
	width: 43.28px;
	height: 739px;
	transform: rotate(0deg);
	transform-origin: 0 0;
}
.group-inner {
	position: absolute;
	top: -73.11px;
	left: 100.99px;
	background-color: $background-color_2;
	width: 43.28px;
	height: 739px;
	transform: rotate(0deg);
	transform-origin: 0 0;
}
.group-item {
	position: absolute;
	top: -73.11px;
	left: 50px;
	background-color: $background-color_2;
	width: 43.28px;
	height: 739px;
	transform: rotate(0deg);
	transform-origin: 0 0;
}
.rectangle-parent {
	top: -146.95px;
	left: 103.56px;
	width: 150px;
	height: 741.18px;
	transform: rotate(-30deg);
	opacity: 0.3;
	position: absolute;
	transform-origin: 0 0;
}
.group-child1 {
    position: absolute;
    transform-origin: 0 0;
    top: -47.37px;
    left: 50.24px;
    background-color: #590320;
    width: 43.28px;
    height: 739px;
    transform: rotate(0deg);
}
.rectangle-group {
	position: absolute;
	transform-origin: 0 0;
	top: 253px;
	left: -222px;
	width: 150px;
	height: 741.18px;
	transform: rotate(-30deg);
	opacity: 0.5;
}

.day-1 {
	position: relative;
	text-transform: uppercase;
}
.pts {
	position: relative;
	font-weight: 600;
	display: inline-block;
	width: 55px;
	flex-shrink: 0;
}
.day-1-parent {
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $br-9xs;
	background-color: $background-color_5;
	border: 0.7px solid $background-color_16;
	width: 75px;
	height: 50px;
	flex-direction: column;
}
.pts-wrapper {
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $br-81xl;
	height: 25px;
	flex-direction: row;
	padding: $padding-9xs $padding-3xs;
	opacity: 0.7;
	font-size: $font-size-sm;
	color: $color_1;
}
.pick-team {
	position: relative;
}
.day-3-parent {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $br-7xs;
	background-color: $background-color_6;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	width: 89px;
	height: 50px;
	flex-direction: column;
	gap: 2px;
}
.pick-team-wrapper {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $br-11xs;
	width: 81px;
	height: 25px;
	flex-direction: row;
	padding: $padding-9xs $padding-3xs;
	box-sizing: border-box;
	font-size: $font-size-sm;
	color: $color_1;
}
.day-4 {
	position: relative;
	text-transform: uppercase;
	opacity: 0.4;
}
.day-4-parent {
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $br-9xs;
	border: 0.7px solid $background-color_16;
	width: 75px;
	height: 50px;
	flex-direction: column;
}
.nov-wrapper {
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $br-81xl;
	height: 25px;
	flex-direction: row;
	padding: $padding-9xs $padding-3xs;
	opacity: 0.4;
	font-size: $font-size-sm;
	color: $color_1;
}
.day-41 {
	position: relative;
	text-transform: uppercase;
	opacity: 0.5;
}
.frame-parent {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 375px;
	display: none;
	gap: $gap-xs;
}
.nov-container {
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: $br-81xl;
	height: 25px;
	flex-shrink: 0;
	display: flex;
	padding: $padding-9xs $padding-3xs;
	box-sizing: border-box;
	opacity: 0.5;
	font-size: $font-size-sm;
	color: $color_1;
}
.group-child3 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $background-color_7;
	width: 375px;
	height: 50px;
	opacity: 0.4;
}
.week-1 {
	position: absolute;
	top: 15px;
	left: 162.64px;
}
.rectangle-container {
	position: relative;
	width: 0;
	height: 0;
	flex-shrink: 0;
	display: none;
	font-size: $font-size-sm;
	color: $color_1;
}
.m-txt {
	line-break: anywhere;
	width: 100%;
}
.m {
	position: relative;
	font-size: $font-size-base;
	color: $color_1;
	display: flex;
	align-items: center;
	width: 60px;
	height: 17px;
	flex-shrink: 0;
}
.available-budget-parent {
	position: absolute;
	top: calc(50% - 15px);
	left: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.reset-icon {
	position: relative;
	border-radius: $br-7xs;
	width: 32px;
	height: 32px;
	flex-shrink: 0;
	overflow: hidden;
}
.auto-complete {
	display: flex;
	flex-direction: row;
	border-radius: $br-7xs;
	background-color: $background-color_8;
	border: 1px solid $background-color_6;
	padding: $padding-5xs 14px;
	align-items: flex-start;
	justify-content: flex-start;
}
.auto-complete{
    a{
        text-decoration: none;
        color: $color_1;
    }
}
.reset-parent {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: calc(50% - 15px);
	right: 16px;
	align-items: center;
	justify-content: flex-end;
	gap: 15px;
	font-size: $font-size-2xs;
	color: $color_1;
}
.ad-banner-icon {
	position: relative;
	width: 375px;
	flex-shrink: 0;
	height: 30px;
	object-fit: cover;
}
.budget-info {
	position: relative;
	width: 375px;
	flex-shrink: 0;
	height: 54px;
	overflow: hidden;
	font-size: $font-size-4xs;
}
.content {
	position: absolute;
	top: 78px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 50px;
	text-align: center;
	font-size: $font-size-3xs;
	color: $color_2;
	font-family: $myFont;
}
.background-icon {
	right: 0;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	display: none;
}
.battery-icon {
	right: 0;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	height: 67.86%;
	width: 44.14%;
	top: 17.86%;
	bottom: 14.29%;
	left: 55.86%;
	position: absolute;
}
.charge {
	position: absolute;
	height: 70%;
	width: 14.8%;
	top: 15%;
	right: 1.47%;
	bottom: 15%;
	left: 83.73%;
}
.div {
	position: absolute;
	height: 100%;
	width: 50.45%;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
}
.bluetooth-icon {
    position: relative;
    width: 8px;
    height: 13px;
    opacity: 0.4;
    mix-blend-mode: normal;
    right: 15px;
}
.div1 {
	position: absolute;
	height: 70%;
	width: 18.4%;
	top: 15%;
	left: 40.8%;
	font-weight: 500;
	text-align: center;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.wifi-icon {
	top: 40%;
	left: 2.2%;
	bottom: 32.5%;
	position: relative;
	width: 12px;
	height: 9px;
}
.signal-icon {
	position: relative;
	left: 1.87%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.ios-iphone-8-black {
	position: relative;
	width: 375px;
	height: 20px;
	flex-shrink: 0;
	opacity: 0.5;
}
.right-icon {
	position: absolute;
	top: calc(50% - 10px);
	right: 16px;
	width: 24px;
	height: 24px;
	display: none;
}
.title {
	position: absolute;
	top: calc(50% - 12px);
	left: calc(50% - 56.5px);
	line-height: 24px;
}
.left-icon {
	position: absolute;
	top: calc(50% - 9px);
	left: 17px;
	width: 22px;
	height: 22px;
}
.navigation-header {
	position: relative;
	width: 375px;
	height: 50px;
	flex-shrink: 0;
	overflow: hidden;
	text-align: center;
	font-size: 18px;
	font-family: $myFont;
}
.frame-child {
	position: absolute;
	left: 0;
	top: -18px;
	background-color: $background-color_9;
	width: 375px;
	height: 316px;
	opacity: 0.7;
}
.header {
	// position: absolute;
	// left: 0;
	// top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	font-size: $font-size-2xs;
	color: $color_1;
	font-family: $myFont;
}
section.first-sec {
    position: relative;
    width: 100%;
    height: 146px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
	font-size: $font-size-2xs;
	color: $color_1;
	font-family: $myFont;
	margin-top: -40px;
}
section.second-sec {
    position: relative;
    width: 100%;
    height: 160px;
}
.third-sec {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
}

