.player-list {
  top: 20px;
  border-radius: $br-3xs $br-3xs 0 0;
  background-color: $background-color_3;
  height: 647px;
  font-family: $myFont;
}
.player-list, .player5 {
  position: absolute;
  left: 0;
  width: 375px;
}
.rectangle-container {
  position: absolute;
  top: 212px;
  left: 0;
  width: 375px;
  height: 453px;
  overflow: hidden;
}
.title11,
.title2 {
  position: absolute;
  top: 27.78%;
  line-height: 24px;
}
.title11 {
  left: 4.27%;
  font-family: $myFont;
}
.pick-team2{
  color: $background-color_1;
  text-decoration: none;
  font-weight: 700;
}
.title2 {
  left: 81.87%;
  text-decoration: underline;
  font-weight: 500;
  color:$pantone-192-c;
  text-align: right;
  display: none;
}
.done-container,
.done-wrapper {
  position: absolute;
  height: 66.67%;
  width: 25.6%;
  top: 16.67%;
  bottom: 16.67%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: $font-size-xs;
}
.done-wrapper {
  right: 70.4%;
  left: 4%;
  border-radius: $br-xl;
  background-color:$pantone-192-c;
  display: none;
}
.done-container {
  right: 2.67%;
  left: 71.73%;
  border-radius: $br-7xs;
  background-color: $color_3;
  display: flex;
  color: $background-color_1;
}
.back-arrow-ios {
  position: absolute;
  height: 33.33%;
  width: 2.88%;
  top: 33.33%;
  right: 92.85%;
  bottom: 33.33%;
  left: 4.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.reset {
  position: absolute;
  top: 31.48%;
  left: 55.47%;
  text-decoration: underline;
  color: $color_3;
  text-align: right;
  opacity: 0.5;
}
.title-bar {
  position: relative;
  height: 8.35%;
  width: 100%;
}
.positions1 {
  position: absolute;
  bottom: 36.9px;
  left: calc(50% - 71.4px);
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 52.93px;
  height: 17.95px;
}
.all-players2 {
  position: absolute;
  top: calc(50% - 9px);
  left: 12.51px;
  opacity: 0.4;
}
.formation1 {
  position: absolute;
  top: 24.99px;
  left: 43px;
  font-size: $font-size-3xs;
  display: none;
}
.down-icon {
  position: absolute;
  top: calc(50% - 5px);
  right: 16.51px;
  width: 15px;
  height: 8px;
}
.all-players-parent {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 85.51px);
  border-radius: $br-7xs;
  border: 1px solid $color-thistle;
  box-sizing: border-box;
  width: 171.01px;
  height: 33.91px;
  overflow: hidden;
  text-align: left;
  background: transparent;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Noto Sans';
  font-style: italic;
  padding: $padding-5xs;
}


.by-club,
.positions {
  position: absolute;
  bottom: 1.15px;
  left: calc(50% - 176.5px);
  width: 169.01px;
  height: 54.85px;
}
.by-club {
  bottom: 36.9px;
  left: calc(50% - 69.54px);
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 48.94px;
  height: 17.95px;
}
.select-club {
  position: absolute;
  top: calc(50% - 9px);
  left: 14.51px;
  opacity: 0.4;
}
.down-icon1 {
  position: absolute;
  top: calc(50% - 5px);
  right: 18.51px;
  width: 15px;
  height: 8px;
}
.select-club-parent {
  position: absolute;
  bottom: -1px;
  left: calc(50% - 85.51px);
  border-radius: $br-7xs;
  border: 1px solid $color-thistle;
  box-sizing: border-box;
  width: 171.01px;
  height: 33.91px;
  overflow: hidden;
  text-align: left;
  background: transparent;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Noto Sans';
  font-style: italic;
  padding: $padding-5xs;
  
}
.by-team {
  position: absolute;
  bottom: 1.15px;
  left: calc(50% + 8.49px);
  width: 169.01px;
  height: 54.85px;
}
.positions-and-by-team {
  position: relative;
  width: 375px;
  height: 52px;
  flex-shrink: 0;
  overflow: hidden;
}
.sort-by1 {
  position: absolute;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 65.14px;
}
.total-points {
  position: absolute;
  top: calc(50% - 9px);
  left: 14.5px;
  opacity: 0.5;
}
.formation2 {
  position: absolute;
  top: 30px;
  left: 45px;
  font-size: $font-size-3xs;
  color: $color_1;
  display: none;
}
.down-icon2 {
  position: absolute;
  top: calc(50% + 3px);
  right: 25.5px;
  width: 8px;
  height: 15px;
}
.total-points-parent {
  position: absolute;
  border-radius: $br-42xl;
  border: 1px solid $color-thistle;
  box-sizing: border-box;
  width: 171px;
  height: 34px;
  overflow: hidden;
  text-align: center;
  color: $color-midnightblue-100;
}
.sort-by {
  position: absolute;
  bottom: 56px;
  left: calc(50% - 177.5px);
  width: 0;
  height: 0;
}
.price1 {
  position: absolute;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  width: 60.23px;
}
.unlimited {
  position: absolute;
  top: calc(50% - 9px);
  left: 15.25px;
  opacity: 0.5;
}
.down-icon3 {
  position: absolute;
  top: calc(50% + 3px);
  right: 26.25px;
  width: 8px;
  height: 15px;
}
.price {
  position: absolute;
  bottom: 56px;
  left: calc(50% + 7.67px);
  width: 0;
  height: 0;
}
.sort-by-and-price {
  position: relative;
  width: 375px;
  height: 52px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
  color: $background-color_17;
}
.icons,
.search1 {
  position: absolute;
  top: calc(50% - 8px);
}
.search1 {
  left: 18.5px;
  opacity: 0.5;
}
.icons {
  right: 18.5px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.search {
  position: relative;
  border-radius: $br-xl;
  background-color: #feeef6;
  width: 355px;
  height: 36px;
  flex-shrink: 0;
  display: none;
  color: #444;
}
.less-filters {
  position: relative;
  text-decoration: underline;
  line-height: 12px;
  color: $color_3;
  font-weight: 700;
}
.down-icon4,
.up-icon {
  position: relative;
  flex-shrink: 0;
}
.up-icon {
  width: 6px;
  height: 11px;
  display: none;
}
.down-icon4 {
  width: 11px;
  height: 6px;
}
.compress-filter,
.filters {
  display: flex;
  align-items: center;
}
.compress-filter {
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  color: $color_3;
}
.filters {
  position: relative;
  background-color: $background-color_11;
  height: 115px;
  flex-direction: column;
  padding: 0 0 16px;
  box-sizing: border-box;
  justify-content: flex-end;
  gap: 16px;
  text-align: left;
  font-size: $font-size-xs;
}
.goalkeeper-12 {
  left: 13px;
}
.goalkeeper-12,
.price2,
.pts2 {
  position: absolute;
  top: 12px;
  opacity: 0.6;
}
.price2 {
  left: 222px;
  text-align: center;
}
.pts2 {
  left: 279px;
}
.table-header-child {
  top: 40px;
  background-color: $color-gainsboro-100;
  height: 1px;
  opacity: 0.2;
}
.table-header,
.table-header-child,
.table-header-item {
  position: absolute;
  left: 0;
  width: 375px;
}
.table-header-item {
  top: 0;
  background-color: $color-gainsboro-100;
  height: 1px;
  opacity: 0.2;
}
.table-header {
  top: 169px;
  background-color: $color-gray-800;
  height: 41px;
  overflow: hidden;
  text-align: left;
  font-size: $font-size-xs;
}
.player-child {
  height: 98.28%;
  width: 100%;
  top: 98.28%;
  right: 0;
  bottom: -96.55%;
  left: 0;
  background-color: $color-mediumblue;
  opacity: 0.1;
}
.player-child,
.player-inner,
.player-item {
  position: absolute;
  display: none;
}
.player-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-gainsboro-200;
}
.player-inner {
  top: 8px;
  left: 18px;
  width: 35px;
  height: 42px;
  object-fit: cover;
}
.team-logo-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ajman-icon {
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  display: none;
}
.ajman-icon,
.al-wahda-icon,
.bani-yas-icon,
.orooba-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.orooba-icon {
  height: 76.67%;
  width: 76.67%;
  top: 11.67%;
  right: 11.67%;
  bottom: 11.67%;
  left: 11.67%;
  display: none;
}
.al-wahda-icon,
.bani-yas-icon {
  height: 66.67%;
  top: 16.67%;
  bottom: 16.67%;
}
.al-wahda-icon {
  width: 55%;
  right: 23.33%;
  left: 21.67%;
  display: none;
}
.bani-yas-icon {
  width: 66.67%;
  right: 16.67%;
  left: 16.67%;
}
.team-logo {
  position: absolute;
  top: 36px;
  left: 40px;
  width: 13.44px;
  height: 13.44px;
  display: none;
}
.status-icon7 {
  position: absolute;
  top: 37px;
  left: 18px;
  width: 12px;
  height: 12px;
}
.frame-icon {
  position: absolute;
  top: calc(50% - 24px);
  right: 4px;
  width: 48px;
  height: 48px;
}
.player-child1 {
  position: absolute;
  top: 5px;
  left: 323px;
  width: 48.08px;
  height: 48.08px;
  display: none;
}
.player-name9,
.vs-country {
  position: absolute;
  top: 0;
  left: 0;
}
.vs-country {
  top: 55.88%;
  font-size: $font-size-2xs;
}
.player-name-parent {
  position: absolute;
  height: 58.62%;
  width: 24%;
  top: 20.69%;
  right: 55.2%;
  bottom: 20.69%;
  left: 20.8%;
  text-align: left;
}
.jersey-icon18 {
  position: absolute;
  top: 3px;
  left: 9px;
  width: 57px;
  height: 54px;
  overflow: hidden;
  display: none;
}
.frame-child48 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-silver;
  width: 46px;
  height: 46px;
  display: none;
}
.sticker-png-messi-jordi-alba-f-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 110px;
  object-fit: cover;
}
.crest-icon,
.rectangle-parent1 {
  position: absolute;
  top: 6px;
  left: 14px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}
.crest-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.club-badges {
  position: absolute;
  top: 36px;
  left: 52px;
  width: 16px;
  height: 16px;
}
.b,
.b1,
.player-child22 {
  position: absolute;
  top: 32.76%;
  left: 60.53%;
}
.b1,
.player-child22 {
  left: 75.2%;
}
.player-child22 {
  height: 1.72%;
  width: 94.67%;
  top: 98.28%;
  right: 2.67%;
  bottom: 0;
  left: 2.67%;
  background-color: $color-gainsboro-200;
  opacity: 0.2;
}
.player,
.player-child23 {
  position: absolute;
  top: 210px;
  left: 0;
  width: 375px;
  height: 58px;
}
.player-child23 {
  height: 98.28%;
  width: 100%;
  top: 98.28%;
  right: 0;
  bottom: -96.55%;
  background-color: $background-color_1;
  opacity: 0.5;
}
.group-child23,
.group-child24 {
  background: linear-gradient(180deg, #b4033a, rgba(180, 3, 58, 0) 66.46%);
  width: 17.81px;
  height: 89.08px;
  transform: rotate(150deg);
}
.group-child23 {
  position: absolute;
  top: -30.64px;
  left: 53.59px;
  transform-origin: 0 0;
}
.group-child24 {
  top: -19.77px;
  left: 34.51px;
}
.group-child24,
.group-child25,
.group-div1 {
  position: absolute;
  transform-origin: 0 0;
}
.group-child25 {
  top: -8.9px;
  left: 15.42px;
  background: linear-gradient(180deg, #b4033a, rgba(180, 3, 58, 0) 66.46%);
  width: 17.81px;
  height: 89.08px;
  transform: rotate(150deg);
}
.group-div1 {
  top: 0.46px;
  left: -17.73px;
  width: 61.73px;
  height: 89.34px;
  transform: rotate(-30deg);
}
.mask-group1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 57px;
}
.jersey-icon19,
.status-icon8 {
  position: absolute;
  top: 37px;
  left: 18px;
  width: 12px;
  height: 12px;
  display: none;
}
.jersey-icon19 {
  top: 1px;
  left: 7px;
  width: 59px;
  height: 54px;
  overflow: hidden;
}
.sticker-png-messi-jordi-alba-f-icon1 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 46px;
  height: 110px;
  object-fit: cover;
}
.player1 {
  position: absolute;
  top: 268px;
  left: 0;
  width: 375px;
  height: 58px;
  overflow: hidden;
  background-image: url(../images/screen2/patch-edit.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sticker-png-messi-jordi-alba-f-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 84px;
  object-fit: cover;
}
.club-badges2 {
  position: absolute;
  top: 36px;
  left: 51px;
  width: 16px;
  height: 16px;
}
.jersey-icon22,
.player2 {
  position: absolute;
  top: 326px;
  left: 0;
  width: 375px;
  height: 58px;
  overflow: hidden;
}
.jersey-icon22 {
  top: 2px;
  left: 7px;
  width: 59px;
  height: 54px;
  display: none;
}
.sticker-png-messi-jordi-alba-f-icon3 {
  position: absolute;
  top: 3px;
  left: 0;
  width: 46px;
  height: 100px;
  object-fit: cover;
}
.player3 {
  position: absolute;
  top: 384px;
  left: 0;
  width: 375px;
  height: 58px;
  overflow: hidden;
}
.sticker-png-messi-jordi-alba-f-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 94px;
  object-fit: cover;
}
.player4 {
  position: absolute;
  top: 442px;
  left: 0;
  width: 375px;
  height: 58px;
  overflow: hidden;
}
.title4 {
  position: absolute;
  top: calc(50% - 12px);
  right: 36px;
  line-height: 24px;
  font-weight: 500;
  color: $color_3;
}
.back-arrow-ios1 {
  top: calc(50% - 7px);
  right: 18.2px;
  width: 8.4px;
  height: 14px;
}
.aed,
.back-arrow-ios1,
.view-more {
  position: absolute;
}
.view-more {
  top: 500px;
  left: 0;
  width: 375px;
  height: 56px;
  overflow: hidden;
  color: $color_3;
}
.aed {
  top: 12px;
  left: 225px;
  opacity: 0.6;
}
.table-header1 {
  position: absolute;
  top: 556px;
  left: 0;
  background-color: $color-gray-800;
  width: 375px;
  height: 41px;
  overflow: hidden;
  text-align: left;
  font-size: $font-size-xs;
}
.sticker-png-messi-jordi-alba-f-icon5 {
  position: absolute;
  top: 3.22px;
  left: 0;
  width: 72.68px;
  height: 111.78px;
  object-fit: cover;
}
.club-badges5,
.player-child232 {
  position: absolute;
  top: 39px;
  left: 54px;
  width: 16px;
  height: 16px;
}
.player-child232 {
  height: 1.72%;
  width: 94.67%;
  top: 98.28%;
  right: 2.67%;
  bottom: 0;
  left: 2.67%;
  background-color: $color-gainsboro-200;
}
.player-list,
.player5 {
  position: absolute;
  left: 0;
  width: 375px;
}
.player5 {
  top: 597px;
  height: 58px;
  overflow: hidden;
}
.player-list {
  top: 20px;
  border-radius: $br-3xs $br-3xs 0 0;
  background-color: $background-color_3;
  height: 647px;
  font-family: $myFont;
}
.theme-5-create-team {
  position: relative;
  background-color: $background-color_15;
  width: 100%;
  height: 667px;
  overflow: hidden;
  text-align: center;
  font-size: $font-size-sm;
  color: $color_1;
  font-family: $myFont;
}






